@keyframes render {
  0% {
    stroke-dasharray: 0 100;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  
  background-color: grey;
}

.canvas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
}

.legend {
  max-width: 250px;
  margin-left: 30px;
}

.title {  
  font-family: "Verdana", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: white;
}

.caption-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.caption-item {
  position: relative;

  margin: 20px 0;
  padding-left: 30px;
  
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: white;  
  cursor: pointer;
}

.caption-item:hover {
  opacity: 0.8;
}

.caption-item::before {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  
  width: 20px;
  height: 20px;
  
  border-radius: 8px;
}

.caption-item:nth-child(1)::before {
  background-color: #800080	;
}

.caption-item:nth-child(2)::before {
  background-color: #000080;
}

.caption-item:nth-child(3)::before {
  background-color: #FFFF00;
}

.caption-item:nth-child(4)::before {
  background-color: #00FF00;
}

.caption-item:nth-child(5)::before {
  background-color: red;
}

.chart {
  min-width: 500px;
}

.unit {
  fill: none;
  stroke-width: 10;
  cursor: pointer;
  
  animation-name: render;
  animation-duration: 1.5s;
  transition-property: all; 
  transition-duration: 1.5s;
}

.unit:hover,
.hovered {
  opacity: 0.8;
  stroke-width: 12;
}

.unit:nth-child(1) {
  stroke: #800080	;
  stroke-dasharray: 20 100;
}

.unit:nth-child(2) {
  stroke: #000080;
  stroke-dasharray: 20 100;
  stroke-dashoffset: -20;
}

.unit:nth-child(3) {
  stroke: #FFFF00;
  stroke-dasharray: 20 100;
  stroke-dashoffset: -40;
}

.unit:nth-child(4) {
  stroke: #00FF00;
  stroke-dasharray: 20 100;
  stroke-dashoffset: -60;
}

.unit:nth-child(5) {
  stroke: red;
  stroke-dasharray: 20 100;
  stroke-dashoffset: -80;
}
